nac : 
{
  ldap : 
  {
    organizational : 
    {
      dn : 
      {
        dn : 
        {
          token = 1;
          showsub : 
          {
            cmd = "nac_ldap_ou.py";
            method = 1;
          };
        };
      };
      add : 
      {
        basedn : 
        {
          basedn : 
          {
            token = 1;
            ou : 
            {
              ou : 
              {
                token = 1;
                cmd = "nac_ldap_ou.py";
              };
            };
          };
        };
        method = 1;
      };
      show : 
      {
        dn : 
        {
          dn : 
          {
            token = 1;
            cmd = "nac_ldap_ou.py";
          };
        };
        method = 1;
      };
      search : 
      {
        dn : 
        {
          dn : 
          {
            objectClass : 
            {
              objectClass : 
              {
                token = 1;
                cmd = "nac_ldap_ou.py";
              };
            };
            token = 1;
          };
        };
        method = 1;
      };
      delete : 
      {
        dn : 
        {
          dn : 
          {
            token = 1;
            cmd = "nac_ldap_ou.py";
          };
        };
        method = 1;
      };
    };
    config : 
    {
      modify : 
      {
        method = 1;
        attr : 
        {
          attr : 
          {
            token = 1;
            value : 
            {
              value : 
              {
                token = 1;
                cmd = "nac_ldap_config.py";
              };
            };
          };
        };
      };
      show : 
      {
        cmd = "nac_ldap_config.py";
        method = 1;
      };
    };
    user : 
    {
      add : 
      {
        basedn : 
        {
          basedn : 
          {
            token = 1;
            cn : 
            {
              cn : 
              {
                token = 1;
                password : 
                {
                  password : 
                  {
                    token = 1;
                    cmd = "nac_ldap_user.py";
                  };
                };
              };
            };
          };
        };
        method = 1;
      };
      delete : 
      {
        dn : 
        {
          dn : 
          {
            token = 1;
            cmd = "nac_ldap_user.py";
          };
        };
        method = 1;
      };
      modify : 
      {
        dn : 
        {
          dn : 
          {
            attribute : 
            {
              attribute : 
              {
                token = 1;
                value : 
                {
                  value : 
                  {
                    token = 1;
                    cmd = "nac_ldap_user.py";
                  };
                };
              };
            };
            token = 1;
          };
        };
        method = 1;
      };
      show : 
      {
        dn : 
        {
          dn : 
          {
            token = 1;
            cmd = "nac_ldap_user.py";
          };
        };
        method = 1;
      };
    };
  };
};
